html {
	font-family: "Calibri";
}

nav {
	display: block;
	background-color: #88b9ff;
	position: fixed;
	top: 0;
    width: 100%;
    border-bottom: 2px solid #0c4569;
}

nav h1 {
	display: inline-block;
	color: white;
	text-align: left;
}

nav a {
	float: right;
	display: inline-block;
	padding: 25px 20px 10px 10px;
	text-color: white;
	text-align: right;
    text-decoration: none;
}

.image-gallery {
    margin-top: 50px;
    float: left;
}


.content {
    margin-top: 150px;
	float: left;
}

.external-links {
    text-decoration: none;
	text-color: white;
	text-align: right;
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #88b9ff;
	border-top: 2px solid #0c4569;
	padding: 10px 20px 10px 10px;
	position: fixed;
	bottom: 0;
	right: 0;
}
